body{
    background-color: rgb(255,234,0);
}
#title{
  position: absolute;
  left: 37%;
  top: 20%;

}
#player-text{
  position: absolute;
  left: 20%;
  top: 60%;
}
#computer-text{
  position: absolute;
  left: 60%;
  top: 60%;
}
#container{
  position: relative;
  width: 65%;
  margin-left: 15%;
  height: 250px;
  margin-top:270px;
  background-color: rgb(255,234,0);
}

#rock{
  position: absolute;
  height: 100%;
  width: 30%;
  background-image: url("rock.png");
  background-size: cover;
  left: 0%;
  transition: transform .3s;
  cursor: pointer;
}

#rock:hover{
  transform: scale(1.1);
}
#paper{
   position: absolute;
  height: 100%;
  background-color: black;
  width: 30%;
  right: 35%;
  background-image: url("hand.png");
  background-size: cover;
  transition: transform .3s;
  cursor: pointer;
}
#paper:hover{
  transform: scale(1.1);
}
#scissors{
  position: absolute;
  height: 100%;
  background-color: blue;
  width: 30%;
  right: 0%;
  background-image: url("scissors.png");
  background-size: cover;
  transition: transform .3s;
  cursor: pointer;
}
#scissors:hover{
  transform: scale(1.1);
}
#results{
  margin-left: 23%;
  margin-top: 12%;
}
#tie{
  margin-left: 40%;
  margin-top: 12%;
}
