body{
padding: 0;
margin: 0;
height: 800px;
background-color: #4ABDAC;
}


#first{
  margin-left: 300px;
}
#title{
  width: 20%;
  height: 50px;
}

#title h1{
  position: absolute;
  font-size: 28px;
  left: 39%;
  top: 3%;
}
#title p{
  position: absolute;
  font-size: 23px;
  left: 40%;
  top: 5.5%;
}
#logo{

  height: 50px;
  width: 50px;
  position: absolute;
  left: 6%;
}


#big-header{
  height: 20vh;
  width: 100%;
  background-color: #4ABDAC;
}

#item-1{
  position: absolute;
  height: 35%;
  width: 28%;
  left: 5%;
  top: 20%;
  background-image: url("barcelona.png");
  background-size: cover;
}
#item-2{
  position: absolute;
  height: 35%;
  width: 28%;
  left: 35%;
  top: 20%;
  background-image: url("photography.png");
  background-size: cover;
}
#item-3{
  position: absolute;
  height: 35%;
  width: 28%;
  left: 65%;
  top: 20%;
  background-image: url('vintage.png');
  background-size: cover;
}
#item-4{
  position: absolute;
  height: 35%;
  width: 28%;
  left: 5%;
  top: 57%;
  background-image: url("rock.png");
  background-size: contain;
}
#item-5{
  position: absolute;
  height: 35%;
  width: 28%;
  left: 35%;
  top: 57%;
  background-image: url("generator.png");
  background-size: cover;
}
#item-6{
  position: absolute;
  height: 35%;
  width: 28%;
  left: 65%;
  top: 57%;
  background-image: url("pong.png");
  background-size: cover;
}

.cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: .2s ease-in-out;
  transform: translate(0,325px);
}


.portfolio:hover .cover{
  transform: translate(0,0);
}

.portfolio{
  overflow: hidden;
}

@media only screen and (max-width: 900px){

  #title h1{
    position: absolute;
    font-size: 28px;
    left: 25%;
    top: 3%;
  }
  #title p{
    position: absolute;
    font-size: 23px;
    left: 26%;
    top: 5.5%;
  }
  #item-1{
    position: absolute;
    height: 40%;
    width: 75%;
    left: 13%;
    top: 20%;
    background-image: url("barcelona.png");
    background-size: cover;
  }
  #item-2{
    position: absolute;
    height: 40%;
    width: 75%;
    left: 13%;
    top: 65%;
    background-image: url("photography.png");
    background-size: cover;
  }
  #item-3{
    position: absolute;
    height: 40%;
    width: 75%;
    left: 13%;
    top: 110%;
    background-image: url('vintage.png');
    background-size: cover;
  }
  #item-4{
    position: absolute;
    height: 40%;
    width: 75%;
    left: 13%;
    top: 155%;
    background-image: url("rock.png");
    background-size: contain;
  }
  #item-5{
    position: absolute;
    height: 40%;
    width: 75%;
    left: 13%;
    top: 200%;
    background-image: url("generator.png");
    background-size: cover;
  }
  #item-6{
    position: absolute;
    height: 40%;
    width: 75%;
    left: 13%;
    top: 245%;
    background-image: url("pong.png");
    background-size: cover;
  }

  .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: .2s ease-in-out;
    transform: translate(0,0px);
  }
}
