project:
  type: website

website:
  title: "Nicholas Michaud"
  search: false
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - brite.css
    css: styles.css
    toc: false



